# This file is copied from .gitignore by default, but we ensure minimal upload.
# See https://cloud.google.com/sdk/gcloud/reference/topic/gcloudignore

# Node / build
node_modules
npm-debug.log*
.DS_Store
/dist
build

# VCS
.git
.gitignore

# Local env
.env*
